<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='css/estilo.css')}}"/>
    <title>Página Inicial</title>
</head>
<body>
    <a href="soma"><button type="submit">Somar</button></a><br><br>
    <a href="subtracao"><button type="submit">Subtrair</button></a><br><br>
    <a href="divisao"><button type="submit">Dividir</button></a><br><br>
    <a href="multiplicacao"><button type="submit">Multiplicar</button></a><br><br>
    <a href="potencia"><button type="submit">Potência</button></a><br><br>
    <a href="raiz"><button type="submit">Raiz</button></a><br><br>
    <a href="tabuada"><button type="submit">Tabuada</button></a><br><br>
</body>
</html>