<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Soma</title>
</head>
<body>
    <form action="/soma" method="POST">
        <label for="number1">Número 01:</label>
        <input type="number" name="num1" class="form-control" id="number1" placeholder="Informe um número"/>

        <label for="number2">Número 02:</label>
        <input type="number" name="num2" class="form-control" id="number2" placeholder="Informe um número"/>

        <button type="submit" class="botao">Somar</button>
    </form>
</body>
</html>